.post-title {
}

.post-body h1 {
  font-size: 1.8rem;
}

.post-body h2 {
  font-size: 1.5rem;
}

.post-body h3 {
  font-size: 1.2rem;
}

.post-body h4 {
  font-size: 1rem;
}

.post-body blockquote {
  border-left: 3px solid lightgray;
  padding-left: 1em;
  font-style: italic;
}
