.post-title {
  margin-top: 1em;
}

.post-body h1 {
  font-size: 1.8rem;
}

.post-body h2 {
  font-size: 1.5rem;
}

.post-body h3 {
  font-size: 1.2rem;
}

.post-body h4 {
  font-size: 1rem;
}

.post-body blockquote {
  border-left: 3px solid lightgray;
  padding-left: 1em;
  font-style: italic;
}

/***
 * Because these are displayed as inline-block
 * (see src/styles/post_globals.css), we need to
 * correct their positioning within text-flow
 * when they're inside the hanging indents created
 * for the custom ul li styles
 */
.post-body ul li [id^=fnref] {
  padding-left: 1.3em;
  margin-right: -.8em;
}

