.heading-autolink-icon {
  float: left;
  color: black;
  margin-left: -1.1em;
  box-shadow: none;
  opacity: 0;
  font-size: .8em;
  transition: opacity 10ms;

  margin-top: -80px;
  padding-top: 80px;
}

.heading:hover > .heading-autolink-icon {
  opacity: 1;
}

.heading-autolink-icon:hover {
  color: #377BB5;
}
